* {
    font-family: Calibri, sans-serif;
    font-size: 0.95rem;
    box-sizing:border-box;
}

.company-logo {
    float: right;
}

.official-receipt {
    width:100%;
}

.official-receipt td {
    white-space:nowrap;
    width:25%;
    line-height:2em;
}

.receipt-header {
    font-weight: bold;
    text-align:right;
}

h1 {
    margin-top:2em;
    margin-bottom:2em;
    font-size:1.8em;
    text-align:center;
}

h2 {
    color: #0070c0;
    text-align:center;
    text-transform:uppercase;
}

.clear {
    clear: both;
}

br.clear {
    height:0;
    width:0;
}

footer {
    color: #fff;
    background-color: #8a734a;
    font-weight:bold;
    padding:0.5em;
    margin:3em -2em -2em -2em !important;
    position:fixed;
    bottom:0;
}

footer table {
    width:100%;
}

footer table td {
    white-space:nowrap;
    font-size:0.9em;
    text-align:center;
}

footer table tr td:first-child {
    text-align:left;
}

footer table tr td:last-child {
    text-align:right;
}
